project/target
project/project/target
project/metals.sbt
project/project/metals.sbt
project/project/project
target
.idea
.env
.DS_Store
.ensime
.ensime_cache/
tags
.idea
tmp
atlas_thin
.bloop
.cache-main
.cache-tests
.classpath
.metals
.project
.settings/
.vscode
bin/
tags.tmp
.bsp
coverage
